* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: inherit;
  }

  body {
    background: #f7ffab;
    color: #97de73;
    width: 100%;
  }


  /* PAGE */
  .text {
    font-family: sans-serif;
    font-size: 4.35vw;
    line-height: 4.35vw;
            font-variant-ligatures: normal;
  }

  h1 {
    font: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  .text p, h1 {
    opacity: 0;
    animation: fadein .2s forwards ease-out;
    padding: 1.74vw 10vw 2.61vw 3vw;
  }

  .text a {
    text-decoration: underline;
    text-decoration-skip: ink;
    color: inherit;
    padding-left: .5vw;
    padding-right: .5vw;
    margin-left: -.5vw;
    margin-right: -.5vw;
    cursor: pointer;
  }

  .text a:hover {
    text-decoration: none;
  }

  .text a:focus {
    text-decoration: none;
    outline: solid 4px rgba(0,0,0,.4);
  }

    ::selection {
    background: #000;
    background: rgba(0,0,0,.99);
    color: #fff;
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
      margin-top: 1.5vw;
    }

    100% {
      opacity: 1;
      margin-top: 0;
    }
  }